body {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: aliceblue;
}
.main {
    width: 35%;
    height: 20%;
    padding: 5%;
    background-color: gray;
    border-style: solid;
    border-radius: 30px;
h1 {
    text-align: center;
} 
h3 {
    text-align: center;
}
p {
    text-align: center;
}
input {
    border-style: none;
    border-radius: 5px;
    padding: 2%;
}
textarea {
    border-style: none;
    border-radius: 5px;
    padding: 2%;
}
img {
    border-style: solid;
    border-radius: 10px;
}
select {
    border-style: none;
    border-radius: 5px;
    padding: 2%;
}
}
